### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans.A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values.

MySQL is a relational database that is based on tabular design whereas NoSQL is non-relational in nature with its document-based design. MySQL has established a database, covering huge IT market whereas NoSQL databases are the latest arrival, hence still gaining popularity among big IT giants.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database.

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.


EX. 
CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.


EXAMPLE      ALTER TABLE table_name

        ADD column_name datatype;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

EXAMPLE TRUNCATE TABLE table_name;

DROP :
This command is used to remove an existing table along with its structure from the Database.

EXAMPLE. DROP TABLE table_name;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as:

INSERT: command to add new or new value to the database

UPDATE: command to change or update current/existing data to a more recent value within the database

DELETE: command to delete or delete the values or data information of the current table in the database

In [ ]:
Insert into <table_name> (column list) values (column values);

In [ ]:
UPDATE <table_name> SET column_number =value_number WHERE condition;

In [ ]:
 Delete from <table_name>WHERE condition;

### Q4. What is SQL? Explain SELECT with an example.

Ans. Structured Query Language (SQL) refers to a standard programming language utilized to extract, organize, manage, and manipulate data stored in relational databases

In [ ]:
SELECT CustomerName, City FROM Customers;

### Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

execute()

This method accepts a MySQL query as a parameter and executes the given query.

cursor()

Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.

In [ ]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="user",
  passwd ="password"
)
 
cursorObject = dataBase.cursor()
 
cursorObject.execute("CREATE DATABASE gfg")

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. SQL's from clause selects and joins your tables and is the first executed part of a query. This means that in queries with joins, the join is the first thing to happen. It's a good practice to limit or pre-aggregate tables before potentially large joins, which can otherwise be very memory intensive.