## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
data = [4, 8, 15, 16, 23,42]

df= pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
import pandas as pd
  
ind = [10, 20, 30, 40, 50, 60, 70,80,90,100]
  
x = pd.Series(ind)
  
print(x)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [4]:
import pandas as pf

data1 = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Occupation': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data1)
print(df)

     Name  Age Occupation
0   Alice   25     Female
1     Bob   30       Male
2  Claire   27     Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [6]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
1. Read Data
2. Head and Tail
3. Columns

In [13]:
import pandas as pd
df = pd.read_csv('category.csv')

In [11]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.columns

Index(['category_id', 'category', 'vertical'], dtype='object')

In [9]:
df.head()

   category_id     category          vertical
0            1    Furniture         Bookcases
1            2     Clothing             Stole
2            3     Clothing       Hankerchief
3            4  Electronics  Electronic Games
4            5  Electronics            Phones

In [10]:
df.tail()

    category_id     category     vertical
12           23    Furniture       Tables
13           26  Electronics     Printers
14           31  Electronics  Accessories
15           34    Furniture  Furnishings
16           65     Clothing        Skirt

## 6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans.the dataframe is mutable and provides great flexibility to work with. While Pyspark derives its basic data types from Python, its own data structures are limited to RDD, Dataframes, Graphframes

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees],axis=1)


df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000