Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
import pandas as pd
data = {"course_name": ["Data Science", "Machine Learning", "Big Data", "Data Engineer"],"duration" : [2,3,6,4]}
df = pd.DataFrame(data)

In [14]:
print(df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### Ans.The loc function in Pandas DataFrame is used to select rows and columns based on their labels (i.e., index or column names). On the other hand, the iloc function is used to select rows and columns based on their integer location (i.e., position in the DataFrame)

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].


Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [16]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [27]:
data = {"a":[1,2,3,4],
       "b":[4,5,6,7],
       "c":["sudh" , "krish","hitesh","navin"]}
df1 = pd.DataFrame(data)

In [31]:
df1.mean()

a    2.5
b    5.5
dtype: float64

In [33]:
df1.std()

a    1.290994
b    1.290994
dtype: float64

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
data = {"a":[1,2,3,4],
       "b":[4,5,6,7],
       "c":["sudh" , "krish","hitesh","navin"]}
df1 = pd.DataFrame(data)

In [36]:
df1.mean("a")

ValueError: No axis named a for object type DataFrame

If the column name 'column_2' is not present in the DataFrame, then the code will produce a KeyError when trying to access the column using the syntax df1['column_2']

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

ans.In Pandas, a window function (also known as a rolling or moving function) is a way to perform calculations on a sliding window of data in a DataFrame. Window functions are useful for calculating rolling statistics, such as moving averages or cumulative sums, over time series or other ordered data.

## Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [37]:
import pandas as pd

now = pd.datetime.now()

current_month = now.month
current_year = now.year

print("Current month and year:", current_month, current_year)

Current month and year: 3 2023

/tmp/ipykernel_154/4115490484.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

# get start date from user
start_date = input("Enter start date (YYYY-MM-DD): ")

# get end date from user
end_date = input("Enter end date (YYYY-MM-DD): ")

# convert dates to datetime objects
start_dt = pd.to_datetime(start_date)
end_dt = pd.to_datetime(end_date)

# calculate time difference
diff = end_dt - start_dt

# extract days, hours, and minutes from time difference
days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds % 3600) // 60

# display result
print("Time difference between", start_date, "and", end_date)
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# get file path from user
file_path = input("Enter file path: ")

# read CSV file into DataFrame
df = pd.read_csv(file_path)

# get column name from user
col_name = input("Enter column name: ")

# get category order from user
cat_order = input("Enter category order (comma-separated): ").split(',')

# convert column to categorical type with specified order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# sort DataFrame by specified column
df = df.sort_values(by=col_name)

# display sorted DataFrame
print(df)

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# get file path from user
file_path = input("Enter file path: ")

# read CSV file into DataFrame
df = pd.read_csv(file_path)

# convert date column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# group sales data by product category and date
grouped_df = df.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()

# plot stacked bar chart
grouped_df.plot(kind='bar', stacked=True)

# add labels and legend
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend(loc='upper left')

# display chart
plt.show()

In [ ]:
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd


file_path = input("Enter the file path of the CSV file containing the student data: ")

df = pd.read_csv(file_path)


mean = df['Test Score'].mean()
median = df['Test Score'].median()

table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, ', '.join(map(str, mode))]
})
print(table)